@inject ProyectoGym.src.Controller.PersonaController PersonaController
@inject NavigationManager NavigationManager
@using src.Model.Personas


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gym app</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (PersonaController.EstaAutenticada())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
            @if (PersonaController.PersonaAutenticada().Rol == "Administrador")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="clientes">
                        <span aria-hidden="true"></span> Clientes
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="entrenadores">
                        <span aria-hidden="true"></span> Entrenadores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span aria-hidden="true"></span> Inventario
                    </NavLink>
                    <ul class="submenu">
                        <li>
                            <NavLink class="nav-link" href="maquinas">
                                <span class="bi bi-list-nested-nav-menu"></span> Maquinas
                            </NavLink>
                        </li>
                    </ul>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="membresias">
                        <span aria-hidden="true"></span> Membresías
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clases">
                    <span aria-hidden="true"></span> Clases
                </NavLink>
            </div>
            @if (PersonaController.PersonaAutenticada().Rol == "Cliente")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="metricas">
                        <span aria-hidden="true"></span> Mis métricas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rutinas">
                        <span aria-hidden="true"></span> Mis rutinas
                    </NavLink>
                </div>
            }
            @if (PersonaController.PersonaAutenticada().Rol == "Entrenador")
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="facturas">
                        <span aria-hidden="true"></span> Facturas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rutinas">
                        <span aria-hidden="true"></span> Rutinas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span aria-hidden="true"></span> Reportes
                    </NavLink>
                    <ul class="submenu">
                        <li>
                            <NavLink class="nav-link" href="reporteMatricula">
                                <span class="bi bi-list-nested-nav-menu"></span> Matrícula
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="reporteIngresos">
                                <span class="bi bi-list-nested-nav-menu"></span> Ingresos
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="reporteClases">
                                <span class="bi bi-list-nested-nav-menu"></span> Clases
                            </NavLink>
                        </li>
                    </ul>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cerrar">
                    <span aria-hidden="true"></span> Cerrar sesión
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="iniciar">
                    <span aria-hidden="true"></span> Inicie sesión para continuar
                </NavLink>
            </div>

        }
    </nav>
</div>




