@page "/entrenador/crear"
@using Microsoft.EntityFrameworkCore
@using src.Model.Personas
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject ProyectoGym.src.Controller.EntrenadorController EntrenadorController

<PageTitle>Crear</PageTitle>

<h2>Crear entrenador</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Entrenador" OnValidSubmit="CrearEntrenador" FormName="crear" Enhance>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo:</label>
                <InputText id="nombre" @bind-Value="Entrenador.NombreCompleto" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <InputDate id="fechaNacimiento" @bind-Value="Entrenador.FechaNacimiento" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <InputText id="telefono" @bind-Value="Entrenador.Telefono" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="nombreUsuario" class="form-label">Nombre de usuario:</label>
                <InputText id="nombreUsuario" @bind-Value="Entrenador.NombreUsuario" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="especialidad" class="form-label">Especialidad:</label>
                <InputText id="nombreUsuario" @bind-Value="Entrenador.Especialidad" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="horarios" class="form-label">Hoararios Disponibles:</label>
                <InputText id="horarios" @bind-Value="Entrenador.HorariosDisponibles" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="experiencia" class="form-label">Años de experiencia:</label>
                <InputNumber id="experiencia" @bind-Value="Entrenador.AñosDeExperiencia" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo:</label>
                <InputText type="email" id="correo" @bind-Value="Entrenador.CorreoElectronico" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <InputText type="password" id="password" @bind-Value="Entrenador.Contraseña" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="rol" class="form-label">Rol:</label>
                <InputSelect id="rol" class="form-control" @bind-Value="Entrenador.Rol">
                    <option value="Entrenador">Entrenador</option>
                </InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/entrenadores">Regresar al listado</a>
</div>

@code {
    
    [SupplyParameterFromForm]
    private Entrenador Entrenador { get; set; } = new();

    private async Task CrearEntrenador()
    {
        await EntrenadorController.Crear(Entrenador);
        NavigationManager.NavigateTo("/entrenadores");
    }
}

