@page "/"
@inject ProyectoGym.src.Controller.PersonaController PersonaController
@inject ProyectoGym.src.Controller.MembresiaController MembresiaController
@inject ProyectoGym.src.Controller.MaquinaController MaquinaController
@using src.Model.Gestion
@using src.Model.Inventario

@if (PersonaController.EstaAutenticada())
{
    <PageTitle>Proyecto Gym</PageTitle>

    <h1>Bienvenido: @PersonaController.PersonaAutenticada().NombreCompleto</h1>

    <p> Este es un sistema para la gestión de gimnasios. </p>

    @if (PersonaController.PersonaAutenticada().Rol == "Cliente")
    {
        <p>Su membresía se encuentra: <strong>@EstadoMembresia</strong></p>
        <p>@notificacion</p>

    }
    @if (PersonaController.PersonaAutenticada().Rol == "Entrenador")
    {
        <h2>Estado equipos: </h2>
        <p>@notificacion</p>
    }

}

@code {
    private string EstadoMembresia;
    private int clienteId;
    private Membresia? membresia;
    private string notificacion = "";
    private List<Maquina> maquinas;

    protected override async Task OnInitializedAsync()
    {
        if (PersonaController.EstaAutenticada() && PersonaController.PersonaAutenticada().Rol != "Administrador" && PersonaController.PersonaAutenticada().Rol != "Entrenador")
        {
            clienteId = PersonaController.PersonaAutenticada().ID;
            membresia = await MembresiaController.obtenerMembresia(clienteId);

            if (membresia.Estado == true)
            {
                EstadoMembresia = "Activa";
            }
            else
            {
                EstadoMembresia = "Suspendida";
            }

            DateTime hoy = DateTime.Now.Date;
            if ((membresia.FechaVencimiento - hoy).Days <= 5)
            {
                notificacion = "Su mensualidad se encuentra al cobro";
            }
        }

        if(PersonaController.EstaAutenticada() && PersonaController.PersonaAutenticada().Rol == "Entrenador")
        {
            maquinas = await MaquinaController.ListarMaquinas();

            foreach(var maquina in maquinas)
            {
                DateTime fechaCambio = maquina.FechaAdquisicion.AddMonths(maquina.VidaUtilMeses);

                if(DateTime.Now > fechaCambio)
                {
                    notificacion = "El equipo con id: " + maquina.ID + " necesita cambio";
                }
            }

        }
    }


}